StormApiClient/Service References/ExposeProxy/ApplicationService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="Enferno.Services.Contracts.Expose.Applications" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ApplicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SOAP_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="Enferno.Services.Contracts.Expose.Applications" location="https://api.lab.storm.io/api/1.1b/ApplicationService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="SOAP" type="i0:ApplicationService">
    <wsp:PolicyReference URI="#SOAP_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplication">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/GetApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListApplicationFlagGroups">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/ListApplicationFlagGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListApplicationFlags">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/ListApplicationFlags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListStoreInfoTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/ListStoreInfoTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListStores">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/ListStores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLocationInfoByZipCode">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/GetLocationInfoByZipCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStoreItem">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/GetStoreItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStoreItemByUniqueName">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/GetStoreItemByUniqueName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStoreItemByCountryAndZipCode">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/GetStoreItemByCountryAndZipCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListStoreItems">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/ListStoreItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListStoreInfo">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/ListStoreInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStore">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/GetStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStoreByUniqueName">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/GetStoreByUniqueName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListStores2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/ListStores2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDivisionInfo">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/UpdateDivisionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListInfoTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Applications/ApplicationService/ListInfoTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationService">
    <wsdl:port name="SOAP" binding="tns:SOAP">
      <soap12:address location="https://api.lab.storm.io/api/1.1b/ApplicationService.svc/soap" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://api.lab.storm.io/api/1.1b/ApplicationService.svc/soap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>