StormApiClient/Service References/ExposeProxy/CustomerService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="Enferno.Services.Contracts.Expose.Customers" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SOAP_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="Enferno.Services.Contracts.Expose.Customers" location="https://web01.stage.storm.io/api/1.1b/CustomerService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="SOAP" type="i0:CustomerService">
    <wsp:PolicyReference URI="#SOAP_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer3">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPricelistItem">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetPricelistItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertPricelistItem">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertPricelistItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePricelistItem">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdatePricelistItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListAccountRoles">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListAccountRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyDiscounts">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyDiscounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpsertCompanyDiscounts">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpsertCompanyDiscounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyDiscount">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDiscount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesByParent">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompaniesByParent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesByOrgNo">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompaniesByOrgNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByOrgNo">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByOrgNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByCode">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyByInfoType">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyByInfoType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerByInfoType">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByInfoType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerByInfoType2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByInfoType2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByOrgNoAndStoreId">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByOrgNoAndStoreId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByEmail">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByKey">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByCode">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByAccountId">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByAccountId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByLoginName">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByLoginName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetExternalCustomerAddress">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetExternalCustomerAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetExternalCustomerAddress2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetExternalCustomerAddress2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InactivateCompany">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InactivateCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InactivateCustomer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InactivateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActivateCustomer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ActivateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListContactByCompany">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListContactByCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerByCompany">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerByCompany2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByCompany2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerByCompany3">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByCompany3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerBySSN">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerBySSN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerBySSN2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerBySSN2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCustomer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/SearchCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCustomer2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/SearchCustomer2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListContactResponsibilities">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListContactResponsibilities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerInfoTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerInfoTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyInfoTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyInfoTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoginAgreementAccount">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/LoginAgreementAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgreementAccount">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetAgreementAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendPasswordReminder">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/SendPasswordReminder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountStatus">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateAccountStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer3">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer3">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultCompany">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/SetDefaultCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerDeliveryAddress">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCustomerDeliveryAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDeliveryAddress">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomerDeliveryAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerDeliveryAddress">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCustomerDeliveryAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyDeliveryAddress">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyDeliveryAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompanyDeliveryAddress">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyDeliveryAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyDeliveryAddress">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDeliveryAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyCustomer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyCustomer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyCustomer2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyCustomer2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyDeliveryMethod">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDeliveryMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyDeliveryMethod">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyDeliveryMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyPaymentMethod">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyPaymentMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyPaymentMethod">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyPaymentMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyPricelist">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyPricelist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyPricelists">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyPricelists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyPricelist">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyPricelist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyPricelist2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyPricelist2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompanyPricelist">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyPricelist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompanyPricelist2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyPricelist2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyPricelist">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyPricelist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListPriceRules">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListPriceRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCustomerFlags">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerFlags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListCompanyFlags">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyFlags" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="SOAP" binding="tns:SOAP">
      <soap12:address location="https://web01.stage.storm.io/api/1.1b/CustomerService.svc/soap" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://web01.stage.storm.io/api/1.1b/CustomerService.svc/soap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>