StormApiClient/Service References/ExposeProxy/CustomerService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Enferno.Services.Contracts.Expose.Customers" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Enferno.Services.Contracts.Expose.Customers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Enferno.Services.Contracts.Expose.Customers/Imports">
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/CustomerService.svc?xsd=xsd0" namespace="Enferno.Services.Contracts.Expose.Customers" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/CustomerService.svc?xsd=xsd2" namespace="http://Enferno.Native.Schemas.ErrorMessage_v2" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/CustomerService.svc?xsd=xsd3" namespace="Enferno.Services.Contracts.Message" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/CustomerService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/CustomerService.svc?xsd=xsd5" namespace="Enferno.Services.Contracts.Expose" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomerService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ChangePassword_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q1="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q1:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_CreateCustomer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q2="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q2:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_CreateCustomer2_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer2" />
  </wsdl:message>
  <wsdl:message name="CustomerService_CreateCustomer2_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer2Response" />
  </wsdl:message>
  <wsdl:message name="CustomerService_CreateCustomer2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q3="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q3:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_CreateCustomer3_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer3" />
  </wsdl:message>
  <wsdl:message name="CustomerService_CreateCustomer3_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer3Response" />
  </wsdl:message>
  <wsdl:message name="CustomerService_CreateCustomer3_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q4="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q4:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompany" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompany_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q5="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q5:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetPricelistItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPricelistItem" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetPricelistItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPricelistItemResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetPricelistItem_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q6="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q6:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertPricelistItem_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPricelistItem" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertPricelistItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPricelistItemResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertPricelistItem_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q7="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q7:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdatePricelistItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePricelistItem" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdatePricelistItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePricelistItemResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdatePricelistItem_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q8="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q8:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListAccountRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAccountRoles" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListAccountRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAccountRolesResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListAccountRoles_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q9="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q9:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyDiscounts_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCompanyDiscounts" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyDiscounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCompanyDiscountsResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyDiscounts_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q10="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q10:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpsertCompanyDiscounts_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertCompanyDiscounts" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpsertCompanyDiscounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertCompanyDiscountsResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpsertCompanyDiscounts_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q11="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q11:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyDiscount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyDiscount" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyDiscount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyDiscountResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyDiscount_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q12="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q12:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompaniesByParent_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCompaniesByParent" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompaniesByParent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCompaniesByParentResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompaniesByParent_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q13="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q13:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompaniesByOrgNo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCompaniesByOrgNo" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompaniesByOrgNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCompaniesByOrgNoResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompaniesByOrgNo_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q14="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q14:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByOrgNo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByOrgNo" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByOrgNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByOrgNoResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByOrgNo_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q15="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q15:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByCode" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByCode_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q16="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q16:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByInfoType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByInfoType" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByInfoType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByInfoTypeResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByInfoType_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q17="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q17:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByInfoType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByInfoType" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByInfoType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByInfoTypeResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByInfoType_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q18="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q18:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByOrgNoAndStoreId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByOrgNoAndStoreId" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByOrgNoAndStoreId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByOrgNoAndStoreIdResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyByOrgNoAndStoreId_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q19="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q19:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByEmail" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByEmail_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q20="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q20:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q21="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q21:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByKey" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByKey_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q22="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q22:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByCode" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByCode_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q23="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q23:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByAccountId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByAccountId" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByAccountId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByAccountIdResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByAccountId_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q24="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q24:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByLoginName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByLoginName" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByLoginName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCustomerByLoginName_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q25="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q25:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetExternalCustomerAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalCustomerAddress" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetExternalCustomerAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalCustomerAddressResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetExternalCustomerAddress_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q26="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q26:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetExternalCustomerAddress2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalCustomerAddress2" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetExternalCustomerAddress2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalCustomerAddress2Response" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetExternalCustomerAddress2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q27="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q27:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InactivateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:InactivateCompany" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InactivateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:InactivateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InactivateCompany_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q28="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q28:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InactivateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InactivateCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InactivateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InactivateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InactivateCustomer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q29="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q29:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListContactByCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ListContactByCompany" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListContactByCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListContactByCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListContactByCompany_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q30="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q30:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerByCompany2_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerByCompany2" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerByCompany2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerByCompany2Response" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerByCompany2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q31="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q31:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerByCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerByCompany" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerByCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerByCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerByCompany_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q32="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q32:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerBySSN_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerBySSN" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerBySSN_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerBySSNResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerBySSN_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q33="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q33:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_SearchCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_SearchCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_SearchCustomer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q34="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q34:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListContactResponsibilities_InputMessage">
    <wsdl:part name="parameters" element="tns:ListContactResponsibilities" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListContactResponsibilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListContactResponsibilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListContactResponsibilities_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q35="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q35:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerInfoTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerInfoTypes" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerInfoTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerInfoTypesResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerInfoTypes_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q36="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q36:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyInfoTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCompanyInfoTypes" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyInfoTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCompanyInfoTypesResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyInfoTypes_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q37="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q37:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_Login_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q38="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q38:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_LoginAgreementAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAgreementAccount" />
  </wsdl:message>
  <wsdl:message name="CustomerService_LoginAgreementAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAgreementAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_LoginAgreementAccount_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q39="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q39:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetAgreementAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgreementAccount" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetAgreementAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgreementAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetAgreementAccount_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q40="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q40:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_SendPasswordReminder_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordReminder" />
  </wsdl:message>
  <wsdl:message name="CustomerService_SendPasswordReminder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordReminderResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_SendPasswordReminder_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q41="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q41:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateAccountStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountStatus" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateAccountStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateAccountStatus_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q42="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q42:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q43="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q43:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer2_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer2" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer2Response" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q44="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q44:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer3_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer3" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer3_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer3Response" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomer3_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q45="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q45:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_RegisterCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_RegisterCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_RegisterCustomer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q46="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q46:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_RegisterCustomer2_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomer2" />
  </wsdl:message>
  <wsdl:message name="CustomerService_RegisterCustomer2_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomer2Response" />
  </wsdl:message>
  <wsdl:message name="CustomerService_RegisterCustomer2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q47="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q47:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_RegisterCustomer3_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomer3" />
  </wsdl:message>
  <wsdl:message name="CustomerService_RegisterCustomer3_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCustomer3Response" />
  </wsdl:message>
  <wsdl:message name="CustomerService_RegisterCustomer3_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q48="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q48:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompany" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCompany_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q49="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q49:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_SetDefaultCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultCompany" />
  </wsdl:message>
  <wsdl:message name="CustomerService_SetDefaultCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_SetDefaultCompany_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q50="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q50:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCustomerDeliveryAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerDeliveryAddress" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCustomerDeliveryAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerDeliveryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCustomerDeliveryAddress_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q51="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q51:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomerDeliveryAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDeliveryAddress" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomerDeliveryAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerDeliveryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCustomerDeliveryAddress_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q52="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q52:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCustomerDeliveryAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerDeliveryAddress" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCustomerDeliveryAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerDeliveryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCustomerDeliveryAddress_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q53="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q53:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyDeliveryAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyDeliveryAddress" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyDeliveryAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyDeliveryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyDeliveryAddress_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q54="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q54:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCompanyDeliveryAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyDeliveryAddress" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCompanyDeliveryAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyDeliveryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCompanyDeliveryAddress_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q55="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q55:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyDeliveryAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyDeliveryAddress" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyDeliveryAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyDeliveryAddressResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyDeliveryAddress_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q56="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q56:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyCustomer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q57="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q57:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyCustomer" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyCustomer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q58="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q58:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyCustomer2_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyCustomer2" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyCustomer2_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyCustomer2Response" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyCustomer2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q59="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q59:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyDeliveryMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyDeliveryMethod" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyDeliveryMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyDeliveryMethodResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyDeliveryMethod_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q60="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q60:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyDeliveryMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyDeliveryMethod" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyDeliveryMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyDeliveryMethodResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyDeliveryMethod_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q61="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q61:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyPaymentMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyPaymentMethod" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyPaymentMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyPaymentMethodResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyPaymentMethod_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q62="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q62:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyPaymentMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyPaymentMethod" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyPaymentMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyPaymentMethodResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyPaymentMethod_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q63="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q63:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyPricelist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyPricelist" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyPricelist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyPricelistResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_GetCompanyPricelist_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q64="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q64:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyPricelists_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCompanyPricelists" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyPricelists_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCompanyPricelistsResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyPricelists_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q65="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q65:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyPricelist_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyPricelist" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyPricelist_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyPricelistResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_InsertCompanyPricelist_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q66="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q66:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCompanyPricelist_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyPricelist" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCompanyPricelist_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyPricelistResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_UpdateCompanyPricelist_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q67="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q67:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyPricelist_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyPricelist" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyPricelist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyPricelistResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_DeleteCompanyPricelist_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q68="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q68:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListPriceRules_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPriceRules" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListPriceRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPriceRulesResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListPriceRules_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q69="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q69:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerFlags_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerFlags" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerFlags_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCustomerFlagsResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCustomerFlags_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q70="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q70:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyFlags_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCompanyFlags" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyFlags_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCompanyFlagsResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerService_ListCompanyFlags_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q71="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q71:ErrorMessage" />
  </wsdl:message>
  <wsdl:portType name="CustomerService">
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ChangePassword" message="tns:CustomerService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ChangePasswordResponse" message="tns:CustomerService_ChangePassword_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ChangePasswordErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ChangePassword_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer" message="tns:CustomerService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomerResponse" message="tns:CustomerService_CreateCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_CreateCustomer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer2" message="tns:CustomerService_CreateCustomer2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer2Response" message="tns:CustomerService_CreateCustomer2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_CreateCustomer2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer3">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer3" message="tns:CustomerService_CreateCustomer3_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer3Response" message="tns:CustomerService_CreateCustomer3_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/CreateCustomer3ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_CreateCustomer3_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompany" message="tns:CustomerService_GetCompany_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyResponse" message="tns:CustomerService_GetCompany_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCompany_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPricelistItem">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetPricelistItem" message="tns:CustomerService_GetPricelistItem_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetPricelistItemResponse" message="tns:CustomerService_GetPricelistItem_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetPricelistItemErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetPricelistItem_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPricelistItem">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertPricelistItem" message="tns:CustomerService_InsertPricelistItem_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertPricelistItemResponse" message="tns:CustomerService_InsertPricelistItem_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertPricelistItemErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InsertPricelistItem_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePricelistItem">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdatePricelistItem" message="tns:CustomerService_UpdatePricelistItem_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdatePricelistItemResponse" message="tns:CustomerService_UpdatePricelistItem_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdatePricelistItemErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpdatePricelistItem_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAccountRoles">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListAccountRoles" message="tns:CustomerService_ListAccountRoles_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListAccountRolesResponse" message="tns:CustomerService_ListAccountRoles_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListAccountRolesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListAccountRoles_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyDiscounts">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyDiscounts" message="tns:CustomerService_ListCompanyDiscounts_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyDiscountsResponse" message="tns:CustomerService_ListCompanyDiscounts_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyDiscountsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCompanyDiscounts_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertCompanyDiscounts">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpsertCompanyDiscounts" message="tns:CustomerService_UpsertCompanyDiscounts_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpsertCompanyDiscountsResponse" message="tns:CustomerService_UpsertCompanyDiscounts_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpsertCompanyDiscountsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpsertCompanyDiscounts_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyDiscount">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDiscount" message="tns:CustomerService_DeleteCompanyDiscount_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDiscountResponse" message="tns:CustomerService_DeleteCompanyDiscount_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDiscountErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_DeleteCompanyDiscount_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesByParent">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompaniesByParent" message="tns:CustomerService_ListCompaniesByParent_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompaniesByParentResponse" message="tns:CustomerService_ListCompaniesByParent_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompaniesByParentErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCompaniesByParent_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCompaniesByOrgNo">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompaniesByOrgNo" message="tns:CustomerService_ListCompaniesByOrgNo_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompaniesByOrgNoResponse" message="tns:CustomerService_ListCompaniesByOrgNo_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompaniesByOrgNoErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCompaniesByOrgNo_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByOrgNo">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByOrgNo" message="tns:CustomerService_GetCompanyByOrgNo_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByOrgNoResponse" message="tns:CustomerService_GetCompanyByOrgNo_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByOrgNoErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCompanyByOrgNo_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByCode">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByCode" message="tns:CustomerService_GetCompanyByCode_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByCodeResponse" message="tns:CustomerService_GetCompanyByCode_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByCodeErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCompanyByCode_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByInfoType">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByInfoType" message="tns:CustomerService_GetCompanyByInfoType_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByInfoTypeResponse" message="tns:CustomerService_GetCompanyByInfoType_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByInfoTypeErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCompanyByInfoType_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByInfoType">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByInfoType" message="tns:CustomerService_GetCustomerByInfoType_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByInfoTypeResponse" message="tns:CustomerService_GetCustomerByInfoType_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByInfoTypeErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCustomerByInfoType_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByOrgNoAndStoreId">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByOrgNoAndStoreId" message="tns:CustomerService_GetCompanyByOrgNoAndStoreId_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByOrgNoAndStoreIdResponse" message="tns:CustomerService_GetCompanyByOrgNoAndStoreId_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyByOrgNoAndStoreIdErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCompanyByOrgNoAndStoreId_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByEmail">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByEmail" message="tns:CustomerService_GetCustomerByEmail_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByEmailResponse" message="tns:CustomerService_GetCustomerByEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByEmailErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCustomerByEmail_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomer" message="tns:CustomerService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerResponse" message="tns:CustomerService_GetCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCustomer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByKey">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByKey" message="tns:CustomerService_GetCustomerByKey_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByKeyResponse" message="tns:CustomerService_GetCustomerByKey_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByKeyErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCustomerByKey_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByCode">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByCode" message="tns:CustomerService_GetCustomerByCode_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByCodeResponse" message="tns:CustomerService_GetCustomerByCode_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByCodeErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCustomerByCode_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByAccountId">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByAccountId" message="tns:CustomerService_GetCustomerByAccountId_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByAccountIdResponse" message="tns:CustomerService_GetCustomerByAccountId_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByAccountIdErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCustomerByAccountId_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByLoginName">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByLoginName" message="tns:CustomerService_GetCustomerByLoginName_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByLoginNameResponse" message="tns:CustomerService_GetCustomerByLoginName_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCustomerByLoginNameErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCustomerByLoginName_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalCustomerAddress">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetExternalCustomerAddress" message="tns:CustomerService_GetExternalCustomerAddress_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetExternalCustomerAddressResponse" message="tns:CustomerService_GetExternalCustomerAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetExternalCustomerAddressErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetExternalCustomerAddress_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalCustomerAddress2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetExternalCustomerAddress2" message="tns:CustomerService_GetExternalCustomerAddress2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetExternalCustomerAddress2Response" message="tns:CustomerService_GetExternalCustomerAddress2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetExternalCustomerAddress2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetExternalCustomerAddress2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InactivateCompany">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InactivateCompany" message="tns:CustomerService_InactivateCompany_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InactivateCompanyResponse" message="tns:CustomerService_InactivateCompany_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InactivateCompanyErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InactivateCompany_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InactivateCustomer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InactivateCustomer" message="tns:CustomerService_InactivateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InactivateCustomerResponse" message="tns:CustomerService_InactivateCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InactivateCustomerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InactivateCustomer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListContactByCompany">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListContactByCompany" message="tns:CustomerService_ListContactByCompany_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListContactByCompanyResponse" message="tns:CustomerService_ListContactByCompany_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListContactByCompanyErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListContactByCompany_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomerByCompany2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByCompany2" message="tns:CustomerService_ListCustomerByCompany2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByCompany2Response" message="tns:CustomerService_ListCustomerByCompany2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByCompany2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCustomerByCompany2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomerByCompany">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByCompany" message="tns:CustomerService_ListCustomerByCompany_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByCompanyResponse" message="tns:CustomerService_ListCustomerByCompany_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerByCompanyErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCustomerByCompany_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomerBySSN">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerBySSN" message="tns:CustomerService_ListCustomerBySSN_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerBySSNResponse" message="tns:CustomerService_ListCustomerBySSN_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerBySSNErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCustomerBySSN_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCustomer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/SearchCustomer" message="tns:CustomerService_SearchCustomer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/SearchCustomerResponse" message="tns:CustomerService_SearchCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/SearchCustomerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_SearchCustomer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListContactResponsibilities">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListContactResponsibilities" message="tns:CustomerService_ListContactResponsibilities_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListContactResponsibilitiesResponse" message="tns:CustomerService_ListContactResponsibilities_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListContactResponsibilitiesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListContactResponsibilities_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomerInfoTypes">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerInfoTypes" message="tns:CustomerService_ListCustomerInfoTypes_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerInfoTypesResponse" message="tns:CustomerService_ListCustomerInfoTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerInfoTypesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCustomerInfoTypes_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyInfoTypes">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyInfoTypes" message="tns:CustomerService_ListCompanyInfoTypes_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyInfoTypesResponse" message="tns:CustomerService_ListCompanyInfoTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyInfoTypesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCompanyInfoTypes_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/Login" message="tns:CustomerService_Login_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/LoginResponse" message="tns:CustomerService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/LoginErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_Login_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAgreementAccount">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/LoginAgreementAccount" message="tns:CustomerService_LoginAgreementAccount_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/LoginAgreementAccountResponse" message="tns:CustomerService_LoginAgreementAccount_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/LoginAgreementAccountErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_LoginAgreementAccount_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgreementAccount">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetAgreementAccount" message="tns:CustomerService_GetAgreementAccount_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetAgreementAccountResponse" message="tns:CustomerService_GetAgreementAccount_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetAgreementAccountErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetAgreementAccount_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPasswordReminder">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/SendPasswordReminder" message="tns:CustomerService_SendPasswordReminder_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/SendPasswordReminderResponse" message="tns:CustomerService_SendPasswordReminder_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/SendPasswordReminderErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_SendPasswordReminder_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountStatus">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateAccountStatus" message="tns:CustomerService_UpdateAccountStatus_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateAccountStatusResponse" message="tns:CustomerService_UpdateAccountStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateAccountStatusErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpdateAccountStatus_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer" message="tns:CustomerService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomerResponse" message="tns:CustomerService_UpdateCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpdateCustomer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer2" message="tns:CustomerService_UpdateCustomer2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer2Response" message="tns:CustomerService_UpdateCustomer2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpdateCustomer2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer3">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer3" message="tns:CustomerService_UpdateCustomer3_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer3Response" message="tns:CustomerService_UpdateCustomer3_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomer3ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpdateCustomer3_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer" message="tns:CustomerService_RegisterCustomer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomerResponse" message="tns:CustomerService_RegisterCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_RegisterCustomer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer2" message="tns:CustomerService_RegisterCustomer2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer2Response" message="tns:CustomerService_RegisterCustomer2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_RegisterCustomer2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterCustomer3">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer3" message="tns:CustomerService_RegisterCustomer3_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer3Response" message="tns:CustomerService_RegisterCustomer3_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/RegisterCustomer3ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_RegisterCustomer3_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompany" message="tns:CustomerService_UpdateCompany_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyResponse" message="tns:CustomerService_UpdateCompany_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpdateCompany_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultCompany">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/SetDefaultCompany" message="tns:CustomerService_SetDefaultCompany_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/SetDefaultCompanyResponse" message="tns:CustomerService_SetDefaultCompany_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/SetDefaultCompanyErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_SetDefaultCompany_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerDeliveryAddress">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCustomerDeliveryAddress" message="tns:CustomerService_InsertCustomerDeliveryAddress_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCustomerDeliveryAddressResponse" message="tns:CustomerService_InsertCustomerDeliveryAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCustomerDeliveryAddressErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InsertCustomerDeliveryAddress_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomerDeliveryAddress">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomerDeliveryAddress" message="tns:CustomerService_UpdateCustomerDeliveryAddress_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomerDeliveryAddressResponse" message="tns:CustomerService_UpdateCustomerDeliveryAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCustomerDeliveryAddressErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpdateCustomerDeliveryAddress_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerDeliveryAddress">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCustomerDeliveryAddress" message="tns:CustomerService_DeleteCustomerDeliveryAddress_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCustomerDeliveryAddressResponse" message="tns:CustomerService_DeleteCustomerDeliveryAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCustomerDeliveryAddressErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_DeleteCustomerDeliveryAddress_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyDeliveryAddress">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyDeliveryAddress" message="tns:CustomerService_InsertCompanyDeliveryAddress_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyDeliveryAddressResponse" message="tns:CustomerService_InsertCompanyDeliveryAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyDeliveryAddressErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InsertCompanyDeliveryAddress_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompanyDeliveryAddress">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyDeliveryAddress" message="tns:CustomerService_UpdateCompanyDeliveryAddress_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyDeliveryAddressResponse" message="tns:CustomerService_UpdateCompanyDeliveryAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyDeliveryAddressErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpdateCompanyDeliveryAddress_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyDeliveryAddress">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDeliveryAddress" message="tns:CustomerService_DeleteCompanyDeliveryAddress_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDeliveryAddressResponse" message="tns:CustomerService_DeleteCompanyDeliveryAddress_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDeliveryAddressErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_DeleteCompanyDeliveryAddress_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyCustomer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyCustomer" message="tns:CustomerService_DeleteCompanyCustomer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyCustomerResponse" message="tns:CustomerService_DeleteCompanyCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyCustomerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_DeleteCompanyCustomer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyCustomer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyCustomer" message="tns:CustomerService_InsertCompanyCustomer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyCustomerResponse" message="tns:CustomerService_InsertCompanyCustomer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyCustomerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InsertCompanyCustomer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyCustomer2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyCustomer2" message="tns:CustomerService_InsertCompanyCustomer2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyCustomer2Response" message="tns:CustomerService_InsertCompanyCustomer2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyCustomer2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InsertCompanyCustomer2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyDeliveryMethod">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDeliveryMethod" message="tns:CustomerService_DeleteCompanyDeliveryMethod_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDeliveryMethodResponse" message="tns:CustomerService_DeleteCompanyDeliveryMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyDeliveryMethodErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_DeleteCompanyDeliveryMethod_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyDeliveryMethod">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyDeliveryMethod" message="tns:CustomerService_InsertCompanyDeliveryMethod_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyDeliveryMethodResponse" message="tns:CustomerService_InsertCompanyDeliveryMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyDeliveryMethodErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InsertCompanyDeliveryMethod_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyPaymentMethod">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyPaymentMethod" message="tns:CustomerService_DeleteCompanyPaymentMethod_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyPaymentMethodResponse" message="tns:CustomerService_DeleteCompanyPaymentMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyPaymentMethodErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_DeleteCompanyPaymentMethod_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyPaymentMethod">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyPaymentMethod" message="tns:CustomerService_InsertCompanyPaymentMethod_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyPaymentMethodResponse" message="tns:CustomerService_InsertCompanyPaymentMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyPaymentMethodErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InsertCompanyPaymentMethod_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyPricelist">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyPricelist" message="tns:CustomerService_GetCompanyPricelist_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyPricelistResponse" message="tns:CustomerService_GetCompanyPricelist_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/GetCompanyPricelistErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_GetCompanyPricelist_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyPricelists">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyPricelists" message="tns:CustomerService_ListCompanyPricelists_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyPricelistsResponse" message="tns:CustomerService_ListCompanyPricelists_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyPricelistsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCompanyPricelists_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCompanyPricelist">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyPricelist" message="tns:CustomerService_InsertCompanyPricelist_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyPricelistResponse" message="tns:CustomerService_InsertCompanyPricelist_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/InsertCompanyPricelistErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_InsertCompanyPricelist_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompanyPricelist">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyPricelist" message="tns:CustomerService_UpdateCompanyPricelist_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyPricelistResponse" message="tns:CustomerService_UpdateCompanyPricelist_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/UpdateCompanyPricelistErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_UpdateCompanyPricelist_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompanyPricelist">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyPricelist" message="tns:CustomerService_DeleteCompanyPricelist_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyPricelistResponse" message="tns:CustomerService_DeleteCompanyPricelist_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/DeleteCompanyPricelistErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_DeleteCompanyPricelist_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPriceRules">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListPriceRules" message="tns:CustomerService_ListPriceRules_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListPriceRulesResponse" message="tns:CustomerService_ListPriceRules_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListPriceRulesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListPriceRules_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCustomerFlags">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerFlags" message="tns:CustomerService_ListCustomerFlags_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerFlagsResponse" message="tns:CustomerService_ListCustomerFlags_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCustomerFlagsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCustomerFlags_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCompanyFlags">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyFlags" message="tns:CustomerService_ListCompanyFlags_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyFlagsResponse" message="tns:CustomerService_ListCompanyFlags_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Customers/CustomerService/ListCompanyFlagsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:CustomerService_ListCompanyFlags_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>