StormApiClient/Service References/ExposeProxy/ExposeService113.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="Enferno.Services.Contracts.Expose.Orders" elementFormDefault="qualified" targetNamespace="Enferno.Services.Contracts.Expose.Orders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ExposeService.svc?xsd=xsd2" namespace="Enferno.Services.Contracts.Message" />
  <xs:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ExposeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DeliveryNote">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Enferno.Services.Contracts.Message" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NoteNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NoteText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="YourReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SellTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="BillTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="ShipTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="SMSNotificationNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:DeliveryNoteItems" />
          <xs:element minOccurs="0" name="Packages" nillable="true" type="tns:DeliveryNotePackages" />
          <xs:element minOccurs="0" name="DivisionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Info" nillable="true" type="tns:InfoList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeliveryNote" nillable="true" type="tns:DeliveryNote" />
  <xs:complexType name="CustomerData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="Enferno.Services.Contracts.Message" base="q2:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
          <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerData" nillable="true" type="tns:CustomerData" />
  <xs:complexType name="Company">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="Enferno.Services.Contracts.Message" base="q3:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrgNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="Enferno.Services.Contracts.Message" base="q4:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="Enferno.Services.Contracts.Message" base="q5:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CareOf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="DeliveryNoteItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:DeliveryNoteItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNoteItems" nillable="true" type="tns:DeliveryNoteItems" />
  <xs:complexType name="DeliveryNoteItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="Enferno.Services.Contracts.Message" base="q6:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RowNumber" type="xs:decimal" />
          <xs:element minOccurs="0" name="ItemNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QtyOrdered" type="xs:decimal" />
          <xs:element minOccurs="0" name="QtyDelivered" type="xs:decimal" />
          <xs:element minOccurs="0" name="QtyBackordered" type="xs:decimal" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrackingCodes" nillable="true" type="tns:TrackingCodes" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeliveryNoteItem" nillable="true" type="tns:DeliveryNoteItem" />
  <xs:complexType name="TrackingCodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tracking" nillable="true" type="tns:Tracking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingCodes" nillable="true" type="tns:TrackingCodes" />
  <xs:complexType name="Tracking">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="Enferno.Services.Contracts.Message" base="q7:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FreightForwarder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrackingCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tracking" nillable="true" type="tns:Tracking" />
  <xs:complexType name="DeliveryNotePackages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Package" nillable="true" type="tns:DeliveryNotePackage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNotePackages" nillable="true" type="tns:DeliveryNotePackages" />
  <xs:complexType name="DeliveryNotePackage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="Enferno.Services.Contracts.Message" base="q8:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ParcelNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeliveryNotePackage" nillable="true" type="tns:DeliveryNotePackage" />
  <xs:complexType name="InfoList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Info" nillable="true" type="tns:Info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoList" nillable="true" type="tns:InfoList" />
  <xs:complexType name="Info">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="Enferno.Services.Contracts.Message" base="q9:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Info" nillable="true" type="tns:Info" />
  <xs:complexType name="Invoice">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="Enferno.Services.Contracts.Message" base="q10:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InvoiceDueDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InvoiceText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderId" type="xs:long" />
          <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="OrderFreight" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvoiceCharge" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvoiceAmountExVat" type="xs:decimal" />
          <xs:element minOccurs="0" name="VatAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:InvoiceItems" />
          <xs:element minOccurs="0" name="Info" nillable="true" type="tns:InfoList" />
          <xs:element minOccurs="0" name="InvoiceNoPsp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreditedInvoiceNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDebit" type="xs:boolean" />
          <xs:element minOccurs="0" name="GroupByKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="InvoiceItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:InvoiceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceItems" nillable="true" type="tns:InvoiceItems" />
  <xs:complexType name="InvoiceItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="Enferno.Services.Contracts.Message" base="q11:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="RowNumber" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ItemNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
          <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="UnitDiscount" type="xs:decimal" />
          <xs:element minOccurs="0" name="RowAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="RowAmountVat" type="xs:decimal" />
          <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="VatRate" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvoiceItem" nillable="true" type="tns:InvoiceItem" />
  <xs:complexType name="Order">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="Enferno.Services.Contracts.Message" base="q12:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="QuotationId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:OrderItems" />
          <xs:element minOccurs="0" name="SellTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="BillTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="ShipTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="OrderTotalIncVat" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrderTotalExVat" type="xs:decimal" />
          <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryNotes" nillable="true" type="tns:DeliveryNotes" />
          <xs:element minOccurs="0" name="Info" nillable="true" type="tns:InfoList" />
          <xs:element minOccurs="0" name="TypeId" type="xs:int" />
          <xs:element minOccurs="0" name="DeliveryMark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DropPoint" nillable="true" type="tns:CustomerData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="OrderItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:OrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItems" nillable="true" type="tns:OrderItems" />
  <xs:complexType name="OrderItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="Enferno.Services.Contracts.Message" base="q13:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="RowNumber" type="xs:decimal" />
          <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QtyOrdered" type="xs:decimal" />
          <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="UnitDiscount" type="xs:decimal" />
          <xs:element minOccurs="0" name="RowAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="VatRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="ImageKey" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="Type" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Info" nillable="true" type="tns:InfoList" />
          <xs:element minOccurs="0" name="ParentRowNumber" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PriceRecommended" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PriceCatalog" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PriceStandard" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderItem" nillable="true" type="tns:OrderItem" />
  <xs:complexType name="DeliveryNotes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeliveryNote" nillable="true" type="tns:DeliveryNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeliveryNotes" nillable="true" type="tns:DeliveryNotes" />
  <xs:complexType name="InvoicePagedList">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="Enferno.Services.Contracts.Message" base="q14:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemCount" type="xs:int" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:InvoiceList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvoicePagedList" nillable="true" type="tns:InvoicePagedList" />
  <xs:complexType name="InvoiceList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:InvoiceListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceList" nillable="true" type="tns:InvoiceList" />
  <xs:complexType name="InvoiceListItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="Enferno.Services.Contracts.Message" base="q15:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InvoiceDueDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InvoiceText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BillTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="InvoiceAmountExVat" type="xs:decimal" />
          <xs:element minOccurs="0" name="VatAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="InvoiceNoPsp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDebit" type="xs:boolean" />
          <xs:element minOccurs="0" name="GroupByKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvoiceListItem" nillable="true" type="tns:InvoiceListItem" />
  <xs:complexType name="OrderPagedList">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="Enferno.Services.Contracts.Message" base="q16:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemCount" type="xs:int" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:OrderList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderPagedList" nillable="true" type="tns:OrderPagedList" />
  <xs:complexType name="OrderList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderList" nillable="true" type="tns:OrderList" />
  <xs:complexType name="OrderPagedList2">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="Enferno.Services.Contracts.Message" base="q17:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemCount" type="xs:int" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:OrderList2" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderPagedList2" nillable="true" type="tns:OrderPagedList2" />
  <xs:complexType name="OrderList2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:OrderListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderList2" nillable="true" type="tns:OrderList2" />
  <xs:complexType name="OrderListItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="Enferno.Services.Contracts.Message" base="q18:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="QuotationId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SellTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="BillTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="ShipTo" nillable="true" type="tns:CustomerData" />
          <xs:element minOccurs="0" name="OrderTotalIncVat" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrderTotalExVat" type="xs:decimal" />
          <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryMethod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeId" type="xs:int" />
          <xs:element minOccurs="0" name="DeliveryMark" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DropPoint" nillable="true" type="tns:CustomerData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderListItem" nillable="true" type="tns:OrderListItem" />
</xs:schema>