StormApiClient/Service References/ExposeProxy/ExposeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="Enferno.Services.Contracts.Expose.Applications" elementFormDefault="qualified" targetNamespace="Enferno.Services.Contracts.Expose.Applications" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/api/1.1/ExposeService.svc?xsd=xsd3" namespace="Enferno.Services.Contracts.Message" />
  <xs:import schemaLocation="https://localhost/api/1.1/ExposeService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://localhost/api/1.1/ExposeService.svc?xsd=xsd2" namespace="Enferno.Services.Contracts.Expose" />
  <xs:import schemaLocation="https://localhost/api/1.1/ExposeService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://localhost/api/1.1/ExposeService.svc?xsd=xsd5" namespace="Enferno.Services.Contracts.Expose.Products" />
  <xs:complexType name="Currency">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Enferno.Services.Contracts.Message" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="Application">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="Enferno.Services.Contracts.Message" base="q2:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Key" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SenderEmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
          <xs:element minOccurs="0" name="Cultures" nillable="true" type="tns:Cultures" />
          <xs:element minOccurs="0" name="Currencies" nillable="true" type="tns:Currencies" />
          <xs:element minOccurs="0" name="Pricelists" nillable="true" type="tns:Pricelists" />
          <xs:element minOccurs="0" name="SalesAreas" nillable="true" type="tns:SalesAreas" />
          <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:Roles" />
          <xs:element minOccurs="0" name="Countries" nillable="true" type="tns:Countries" />
          <xs:element xmlns:q3="Enferno.Services.Contracts.Expose" minOccurs="0" name="Authorizations" nillable="true" type="q3:IdValues" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Application" nillable="true" type="tns:Application" />
  <xs:complexType name="Client">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="Enferno.Services.Contracts.Message" base="q4:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Key" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="Cultures">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="Enferno.Services.Contracts.Message" base="q5:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="List" nillable="true" type="tns:CultureList" />
          <xs:element minOccurs="0" name="Default" nillable="true" type="tns:Culture" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cultures" nillable="true" type="tns:Cultures" />
  <xs:complexType name="CultureList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Culture" nillable="true" type="tns:Culture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CultureList" nillable="true" type="tns:CultureList" />
  <xs:complexType name="Culture">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="Enferno.Services.Contracts.Message" base="q6:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Culture" nillable="true" type="tns:Culture" />
  <xs:complexType name="Currencies">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="Enferno.Services.Contracts.Message" base="q7:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="List" nillable="true" type="tns:CurrencyList" />
          <xs:element minOccurs="0" name="Default" nillable="true" type="tns:Currency" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Currencies" nillable="true" type="tns:Currencies" />
  <xs:complexType name="CurrencyList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyList" nillable="true" type="tns:CurrencyList" />
  <xs:complexType name="Pricelists">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="Enferno.Services.Contracts.Message" base="q8:Entity">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Ids" nillable="true" type="q9:ArrayOfint" />
          <xs:element minOccurs="0" name="Default" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Pricelists" nillable="true" type="tns:Pricelists" />
  <xs:complexType name="SalesAreas">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="Enferno.Services.Contracts.Message" base="q10:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="List" nillable="true" type="tns:SalesAreaList" />
          <xs:element minOccurs="0" name="Default" nillable="true" type="tns:SalesArea" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalesAreas" nillable="true" type="tns:SalesAreas" />
  <xs:complexType name="SalesAreaList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesArea" nillable="true" type="tns:SalesArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesAreaList" nillable="true" type="tns:SalesAreaList" />
  <xs:complexType name="SalesArea">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="Enferno.Services.Contracts.Message" base="q11:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
          <xs:element minOccurs="0" name="VatCodeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SalesArea" nillable="true" type="tns:SalesArea" />
  <xs:complexType name="Roles">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="Enferno.Services.Contracts.Message" base="q12:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="List" nillable="true" type="tns:RoleList" />
          <xs:element minOccurs="0" name="Default" nillable="true" type="tns:Role" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Roles" nillable="true" type="tns:Roles" />
  <xs:complexType name="RoleList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleList" nillable="true" type="tns:RoleList" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="Enferno.Services.Contracts.Message" base="q13:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="Countries">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="Enferno.Services.Contracts.Message" base="q14:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="List" nillable="true" type="tns:CountryList" />
          <xs:element minOccurs="0" name="Default" nillable="true" type="tns:Country" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Countries" nillable="true" type="tns:Countries" />
  <xs:complexType name="CountryList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryList" nillable="true" type="tns:CountryList" />
  <xs:complexType name="Country">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="Enferno.Services.Contracts.Message" base="q15:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="StoreItemPagedList">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="Enferno.Services.Contracts.Message" base="q16:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemCount" type="xs:int" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:StoreItemList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoreItemPagedList" nillable="true" type="tns:StoreItemPagedList" />
  <xs:complexType name="StoreItemList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreItem" nillable="true" type="tns:StoreItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreItemList" nillable="true" type="tns:StoreItemList" />
  <xs:complexType name="StoreItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="Enferno.Services.Contracts.Message" base="q17:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OnHandValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IncomingValue" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="NextDeliveryDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element xmlns:q18="Enferno.Services.Contracts.Expose.Products" minOccurs="0" name="OnHand" nillable="true" type="q18:OnHand" />
          <xs:element xmlns:q19="Enferno.Services.Contracts.Expose.Products" minOccurs="0" name="OnHandDemo" nillable="true" type="q19:OnHand" />
          <xs:element minOccurs="0" name="UniqueName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoreItem" nillable="true" type="tns:StoreItem" />
  <xs:complexType name="LocationInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="Enferno.Services.Contracts.Message" base="q20:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Delivery" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Pickup" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:Location" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationInfo" nillable="true" type="tns:LocationInfo" />
  <xs:complexType name="Location">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="Enferno.Services.Contracts.Message" base="q21:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="StoreId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="StoreCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarehouseId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LocationIdId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="StoreInfoPagedList">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="Enferno.Services.Contracts.Message" base="q22:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemCount" type="xs:int" />
          <xs:element minOccurs="0" name="Items" nillable="true" type="tns:StoreInfoList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoreInfoPagedList" nillable="true" type="tns:StoreInfoPagedList" />
  <xs:complexType name="StoreInfoList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoreInfo" nillable="true" type="tns:StoreInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreInfoList" nillable="true" type="tns:StoreInfoList" />
  <xs:complexType name="StoreInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="Enferno.Services.Contracts.Message" base="q23:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element xmlns:q24="Enferno.Services.Contracts.Expose" minOccurs="0" name="Info" nillable="true" type="q24:IdValues" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StoreInfo" nillable="true" type="tns:StoreInfo" />
  <xs:complexType name="Store">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="Enferno.Services.Contracts.Message" base="q25:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OpeningWeekdays" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OpeningSaturdays" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OpeningSundays" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Key" type="ser:guid" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
          <xs:element xmlns:q26="Enferno.Services.Contracts.Expose" minOccurs="0" name="Info" nillable="true" type="q26:IdValues" />
          <xs:element minOccurs="0" name="Pricelists" nillable="true" type="tns:Pricelists" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageKey" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="UniqueName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Store" nillable="true" type="tns:Store" />
  <xs:complexType name="StoreList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Store" nillable="true" type="tns:Store" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoreList" nillable="true" type="tns:StoreList" />
</xs:schema>