StormApiClient/Service References/ExposeProxy/ExposeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="Enferno.Services.Contracts.Expose.Customers" elementFormDefault="qualified" targetNamespace="Enferno.Services.Contracts.Expose.Customers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/api/1.1/ExposeService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://localhost/api/1.1/ExposeService.svc?xsd=xsd2" namespace="Enferno.Services.Contracts.Expose" />
  <xs:import schemaLocation="https://localhost/api/1.1/ExposeService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://localhost/api/1.1/ExposeService.svc?xsd=xsd3" namespace="Enferno.Services.Contracts.Message" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Enferno.Services.Contracts.Message" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Key" type="ser:guid" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ReferUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="Companies" nillable="true" type="tns:CompanyList" />
          <xs:element minOccurs="0" name="DeliveryAddresses" nillable="true" type="tns:AddressList" />
          <xs:element minOccurs="0" name="InvoiceAddress" nillable="true" type="tns:Address" />
          <xs:element minOccurs="0" name="Flags" nillable="true" type="tns:FlagList" />
          <xs:element minOccurs="0" name="UseInvoiceAddressAsDeliveryAddress" type="xs:boolean" />
          <xs:element xmlns:q2="Enferno.Services.Contracts.Expose" minOccurs="0" name="Info" nillable="true" type="q2:IdValues" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PricelistIds" nillable="true" type="q3:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Account">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="Enferno.Services.Contracts.Message" base="q4:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Key" type="ser:guid" />
          <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q5:ArrayOfint" />
          <xs:element xmlns:q6="Enferno.Services.Contracts.Expose" minOccurs="0" name="Authorizations" nillable="true" type="q6:IdValues" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="CompanyList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyList" nillable="true" type="tns:CompanyList" />
  <xs:complexType name="Company">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="Enferno.Services.Contracts.Message" base="q7:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Key" type="ser:guid" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrgNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ReferUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeliveryAddresses" nillable="true" type="tns:AddressList" />
          <xs:element minOccurs="0" name="InvoiceAddress" nillable="true" type="tns:Address" />
          <xs:element minOccurs="0" name="UseInvoiceAddressAsDeliveryAddress" type="xs:boolean" />
          <xs:element xmlns:q8="Enferno.Services.Contracts.Expose" minOccurs="0" name="Info" nillable="true" type="q8:IdValues" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PricelistIds" nillable="true" type="q9:ArrayOfint" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
          <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeliveryMethodIds" nillable="true" type="q10:ArrayOfint" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PaymentMethodIds" nillable="true" type="q11:ArrayOfint" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Flags" nillable="true" type="tns:FlagList" />
          <xs:element minOccurs="0" name="VatNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="AddressList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressList" nillable="true" type="tns:AddressList" />
  <xs:complexType name="Address">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="Enferno.Services.Contracts.Message" base="q12:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CareOf" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryId" type="xs:int" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsValidated" type="xs:boolean" />
          <xs:element minOccurs="0" name="GlobalLocationNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShippingPhoneNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="FlagList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flag" nillable="true" type="tns:Flag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlagList" nillable="true" type="tns:FlagList" />
  <xs:complexType name="Flag">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="Enferno.Services.Contracts.Message" base="q13:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Group" type="xs:int" />
          <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Flag" nillable="true" type="tns:Flag" />
  <xs:complexType name="PricelistItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="Enferno.Services.Contracts.Message" base="q14:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PricelistId" type="xs:int" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="PriceRecommended" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="PriceRule" nillable="true" type="tns:PricelistPriceRule" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PricelistItem" nillable="true" type="tns:PricelistItem" />
  <xs:complexType name="PricelistPriceRule">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="Enferno.Services.Contracts.Message" base="q15:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="RuleId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PricelistPriceRule" nillable="true" type="tns:PricelistPriceRule" />
  <xs:complexType name="CompanyDiscountList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Discount" nillable="true" type="tns:CompanyDiscount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyDiscountList" nillable="true" type="tns:CompanyDiscountList" />
  <xs:complexType name="CompanyDiscount">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="Enferno.Services.Contracts.Message" base="q16:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="TypeId" type="xs:int" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="PriceListTypeSeed" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompanyDiscount" nillable="true" type="tns:CompanyDiscount" />
  <xs:complexType name="Pricelist">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="Enferno.Services.Contracts.Message" base="q17:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Agreement" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" type="xs:int" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="PriceRule" nillable="true" type="tns:PricelistPriceRule" />
          <xs:element minOccurs="0" name="PopulationRules" nillable="true" type="tns:PricelistPopulationRuleList" />
          <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
          <xs:element minOccurs="0" name="IsExclusive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Pricelist" nillable="true" type="tns:Pricelist" />
  <xs:complexType name="PricelistPopulationRuleList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rule" nillable="true" type="tns:PricelistPopulationRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricelistPopulationRuleList" nillable="true" type="tns:PricelistPopulationRuleList" />
  <xs:complexType name="PricelistPopulationRule">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="Enferno.Services.Contracts.Message" base="q18:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="RuleId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ManufacturerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsSupplierRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsInclusive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PricelistPopulationRule" nillable="true" type="tns:PricelistPopulationRule" />
  <xs:complexType name="CustomerList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerList" nillable="true" type="tns:CustomerList" />
  <xs:complexType name="ContactList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactList" nillable="true" type="tns:ContactList" />
  <xs:complexType name="Contact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="Enferno.Services.Contracts.Message" base="q19:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Key" type="ser:guid" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResponsibilityId" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageKey" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="AgreementAccount">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="Enferno.Services.Contracts.Message" base="q20:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="PricelistId" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ImageKey" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ShowPricesIncVat" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgreementAccount" nillable="true" type="tns:AgreementAccount" />
  <xs:complexType name="CustomerPricelistList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pricelist" nillable="true" type="tns:Pricelist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerPricelistList" nillable="true" type="tns:CustomerPricelistList" />
  <xs:complexType name="CustomerFlags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerFlag" nillable="true" type="tns:CustomerFlag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerFlags" nillable="true" type="tns:CustomerFlags" />
  <xs:complexType name="CustomerFlag">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="Enferno.Services.Contracts.Message" base="q21:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
          <xs:element xmlns:q22="Enferno.Services.Contracts.Expose" minOccurs="0" name="Group" nillable="true" type="q22:IdNameDescription" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerFlag" nillable="true" type="tns:CustomerFlag" />
</xs:schema>