StormApiClient/Service References/ExposeProxy/OrderService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="Enferno.Services.Contracts.Expose.Orders" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SOAP_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="Enferno.Services.Contracts.Expose.Orders" location="https://api.lab.storm.io/api/1.1b/OrderService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="SOAP" type="i0:OrderService">
    <wsp:PolicyReference URI="#SOAP_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertDeliveryNote">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/InsertDeliveryNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertInvoice">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/InsertInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByNo">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/GetOrderByNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/GetOrderByBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInvoice">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/GetInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByNo">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/GetInvoiceByNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListInvoices">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/ListInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListInvoicesByBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/ListInvoicesByBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListOrders">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/ListOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListOrders2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/ListOrders2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListOrders3">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/ListOrders3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListOrdersByEmail">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/ListOrdersByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchOrder">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/SearchOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryNotePackage">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/UpdateDeliveryNotePackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListOrderStatuses">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/ListOrderStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListOrderInfoTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/ListOrderInfoTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListOrderItemInfoTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Orders/OrderService/ListOrderItemInfoTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="SOAP" binding="tns:SOAP">
      <soap12:address location="https://api.lab.storm.io/api/1.1b/OrderService.svc/soap" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://api.lab.storm.io/api/1.1b/OrderService.svc/soap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>