StormApiClient/Service References/ExposeProxy/ProductService94.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="Enferno.Services.Contracts.Expose.Shopping" elementFormDefault="qualified" targetNamespace="Enferno.Services.Contracts.Expose.Shopping" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://web01.stage.storm.io/api/1.1b/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://web01.stage.storm.io/api/1.1b/ProductService.svc?xsd=xsd4" namespace="Enferno.Services.Contracts.Expose" />
  <xs:import schemaLocation="https://web01.stage.storm.io/api/1.1b/ProductService.svc?xsd=xsd2" namespace="Enferno.Services.Contracts.Message" />
  <xs:complexType name="PromotionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Promotion" nillable="true" type="tns:Promotion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromotionList" nillable="true" type="tns:PromotionList" />
  <xs:complexType name="Promotion">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Enferno.Services.Contracts.Message" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ImageKey" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="RequirementSeed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DiscountCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsExcludedFromPriceCalculation" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowProductListing" type="xs:boolean" />
          <xs:element xmlns:q2="Enferno.Services.Contracts.Expose" minOccurs="0" name="Images" nillable="true" type="q2:FileList" />
          <xs:element minOccurs="0" name="ProductFilters" nillable="true" type="tns:PromotionProductFilterList" />
          <xs:element minOccurs="0" name="AppliedAmount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EffectSeed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FreightDiscountPct" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsStackable" type="xs:boolean" />
          <xs:element minOccurs="0" name="AppliedAmountIncVat" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Promotion" nillable="true" type="tns:Promotion" />
  <xs:complexType name="PromotionProductFilterList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="tns:PromotionProductFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PromotionProductFilterList" nillable="true" type="tns:PromotionProductFilterList" />
  <xs:complexType name="PromotionProductFilter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="Enferno.Services.Contracts.Message" base="q3:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ManufacturerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CategorySeed" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="VariantProductId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PartNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PricelistId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FlagId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PromotionProductFilter" nillable="true" type="tns:PromotionProductFilter" />
</xs:schema>