StormApiClient/Service References/ExposeProxy/ProductService96.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Enferno.Services.Contracts.Expose.Applications" elementFormDefault="qualified" targetNamespace="Enferno.Services.Contracts.Expose.Applications" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://web01.stage.storm.io/api/1.1/ProductService.svc?xsd=xsd2" namespace="Enferno.Services.Contracts.Message" />
  <xs:complexType name="Currency">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="Enferno.Services.Contracts.Message" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
</xs:schema>