StormApiClient/Service References/ExposeProxy/ShoppingService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Enferno.Services.Contracts.Expose.Shopping" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Enferno.Services.Contracts.Expose.Shopping" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Enferno.Services.Contracts.Expose.Shopping/Imports">
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc?xsd=xsd0" namespace="Enferno.Services.Contracts.Expose.Shopping" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc?xsd=xsd5" namespace="http://Enferno.Native.Schemas.ErrorMessage_v2" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc?xsd=xsd2" namespace="Enferno.Services.Contracts.Message" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc?xsd=xsd3" namespace="Enferno.Services.Contracts.Expose.Products" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc?xsd=xsd4" namespace="Enferno.Services.Contracts.Expose" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc?xsd=xsd6" namespace="Enferno.Services.Contracts.Expose.Customers" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://servicesstage.enferno.se/api/1.1/ShoppingService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ShoppingService_ClearBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ClearBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ClearBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q1="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q1:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_CreateBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_CreateBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_CreateBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q2="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q2:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_CreateSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscription" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_CreateSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_CreateSubscription_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q3="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q3:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteBasketItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBasketItem" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteBasketItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBasketItemResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteBasketItem_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q4="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q4:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q5="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q5:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscription" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetSubscription_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q6="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q6:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetSubscriptionByBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionByBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetSubscriptionByBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionByBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetSubscriptionByBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q7="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q7:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketsByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketsByStatus" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketsByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketsByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketsByStatus_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q8="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q8:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSavedBaskets_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSavedBaskets" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSavedBaskets_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSavedBasketsResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSavedBaskets_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q9="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q9:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSubscriptions" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSubscriptions_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q10="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q10:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetSubscriptionScheduleData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionScheduleData" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetSubscriptionScheduleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionScheduleDataResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetSubscriptionScheduleData_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q11="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q11:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSubscriptionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSubscriptionStatus" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSubscriptionStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSubscriptionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSubscriptionStatus_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q12="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q12:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSubscriptionTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListSubscriptionTypes" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSubscriptionTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListSubscriptionTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListSubscriptionTypes_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q13="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q13:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_SaveBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_SaveBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_SaveBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q14="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q14:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteSavedBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSavedBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteSavedBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSavedBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteSavedBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q15="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q15:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetCheckout_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckout" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetCheckout_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckoutResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetCheckout_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q16="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q16:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetCheckout2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckout2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetCheckout2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCheckout2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetCheckout2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q17="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q17:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetPaymentForm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentForm" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetPaymentForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentFormResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetPaymentForm_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q18="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q18:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentFormCallback_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentFormCallback" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentFormCallback_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentFormCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentFormCallback_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q19="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q19:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentFormComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentFormComplete" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentFormComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentFormCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentFormComplete_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q20="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q20:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentGiftCardCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentGiftCardCheck" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentGiftCardCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentGiftCardCheckResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentGiftCardCheck_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q21="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q21:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentGiftCardReserve_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentGiftCardReserve" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentGiftCardReserve_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentGiftCardReserveResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentGiftCardReserve_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q22="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q22:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentGiftCardRollback_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentGiftCardRollback" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentGiftCardRollback_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentGiftCardRollbackResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentGiftCardRollback_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q23="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q23:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListProductOnHandByBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProductOnHandByBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListProductOnHandByBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProductOnHandByBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListProductOnHandByBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q24="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q24:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListExternalProductOnHandByBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:ListExternalProductOnHandByBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListExternalProductOnHandByBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListExternalProductOnHandByBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListExternalProductOnHandByBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q25="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q25:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetOrderRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderRequest" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetOrderRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetOrderRequest_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q26="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q26:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_InsertBasketItem_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBasketItem" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_InsertBasketItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBasketItemResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_InsertBasketItem_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q27="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q27:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_InsertBasketItems_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBasketItems" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_InsertBasketItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBasketItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_InsertBasketItems_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q28="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q28:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_InsertBasketItemWithChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBasketItemWithChildren" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_InsertBasketItemWithChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBasketItemWithChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_InsertBasketItemWithChildren_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q29="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q29:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketInfoTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketInfoTypes" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketInfoTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketInfoTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketInfoTypes_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q30="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q30:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketItemInfoTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketItemInfoTypes" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketItemInfoTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketItemInfoTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketItemInfoTypes_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q31="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q31:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotionRequirementTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPromotionRequirementTypes" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotionRequirementTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPromotionRequirementTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotionRequirementTypes_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q32="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q32:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotionImageTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPromotionImageTypes" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotionImageTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPromotionImageTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotionImageTypes_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q33="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q33:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetPromotion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromotion" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetPromotion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromotionResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_GetPromotion_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q34="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q34:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotions_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPromotions" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPromotionsResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotions_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q35="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q35:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDeliveryMethodsByProduct" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDeliveryMethodsByProductResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByProduct_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q36="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q36:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByProduct2_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDeliveryMethodsByProduct2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByProduct2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDeliveryMethodsByProduct2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByProduct2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q37="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q37:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDeliveryMethodsByBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDeliveryMethodsByBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q38="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q38:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByBasket2_InputMessage">
    <wsdl:part name="parameters" element="tns:ListDeliveryMethodsByBasket2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByBasket2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListDeliveryMethodsByBasket2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListDeliveryMethodsByBasket2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q39="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q39:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotionsByBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPromotionsByBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotionsByBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPromotionsByBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListPromotionsByBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q40="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q40:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_Purchase_InputMessage">
    <wsdl:part name="parameters" element="tns:Purchase" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_Purchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_Purchase_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q41="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q41:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_CreatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePayment" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_CreatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_CreatePayment_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q42="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q42:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PurchaseEx_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseEx" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PurchaseEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseExResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PurchaseEx_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q43="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q43:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PurchaseEx2_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseEx2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PurchaseEx2_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseEx2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PurchaseEx2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q44="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q44:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PurchaseSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseSubscription" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PurchaseSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PurchaseSubscription_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q45="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q45:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentCallback_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCallback" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentCallback_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentCallback_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q46="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q46:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentCallback2_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCallback2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentCallback2_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCallback2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentCallback2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q47="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q47:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentComplete_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentComplete" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentComplete_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentComplete_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q48="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q48:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentCancel_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCancel" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentCancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentCancelResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentCancel_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q49="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q49:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentValidate_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentValidate" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentValidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentValidateResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_PaymentValidate_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q50="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q50:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_SendBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_SendBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_SendBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q51="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q51:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q52="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q52:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasket2_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasket2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasket2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasket2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasket2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q53="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q53:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubscription" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateSubscription_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q54="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q54:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_SetAttestBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAttestBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_SetAttestBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAttestBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_SetAttestBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q55="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q55:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBasket" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBasketResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteBasket_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q56="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q56:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubscription" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_DeleteSubscription_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q57="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q57:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasketItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasketItem" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasketItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasketItemResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasketItem_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q58="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q58:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasketItems_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasketItems" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasketItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasketItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasketItems_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q59="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q59:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasketItemQuantityWithChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasketItemQuantityWithChildren" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasketItemQuantityWithChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasketItemQuantityWithChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBasketItemQuantityWithChildren_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q60="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q60:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBuyer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuyer" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBuyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuyerResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBuyer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q61="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q61:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBuyer2_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuyer2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBuyer2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBuyer2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateBuyer2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q62="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q62:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePayer" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePayerResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePayer_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q63="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q63:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePayer2_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePayer2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePayer2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePayer2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePayer2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q64="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q64:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateShipTo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShipTo" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateShipTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShipToResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateShipTo_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q65="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q65:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateShipTo2_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShipTo2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateShipTo2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShipTo2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateShipTo2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q66="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q66:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateDeliveryMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryMethod" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateDeliveryMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateDeliveryMethod_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q67="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q67:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateDeliveryMethod3_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryMethod3" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateDeliveryMethod3_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryMethod3Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateDeliveryMethod3_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q68="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q68:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateDeliveryMethod4_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryMethod4" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateDeliveryMethod4_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryMethod4Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdateDeliveryMethod4_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q69="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q69:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePaymentMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentMethod" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePaymentMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentMethodResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePaymentMethod_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q70="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q70:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePaymentMethod2_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentMethod2" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePaymentMethod2_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentMethod2Response" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_UpdatePaymentMethod2_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q71="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q71:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketStatuses" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketStatuses_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q72="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q72:ErrorMessage" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketTypes" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListBasketTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ShoppingService_ListBasketTypes_ErrorMessage_v2Fault_FaultMessage">
    <wsdl:part xmlns:q73="http://Enferno.Native.Schemas.ErrorMessage_v2" name="detail" element="q73:ErrorMessage" />
  </wsdl:message>
  <wsdl:portType name="ShoppingService">
    <wsdl:operation name="ClearBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ClearBasket" message="tns:ShoppingService_ClearBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ClearBasketResponse" message="tns:ShoppingService_ClearBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ClearBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ClearBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreateBasket" message="tns:ShoppingService_CreateBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreateBasketResponse" message="tns:ShoppingService_CreateBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreateBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_CreateBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSubscription">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreateSubscription" message="tns:ShoppingService_CreateSubscription_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreateSubscriptionResponse" message="tns:ShoppingService_CreateSubscription_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreateSubscriptionErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_CreateSubscription_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBasketItem">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteBasketItem" message="tns:ShoppingService_DeleteBasketItem_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteBasketItemResponse" message="tns:ShoppingService_DeleteBasketItem_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteBasketItemErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_DeleteBasketItem_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetBasket" message="tns:ShoppingService_GetBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetBasketResponse" message="tns:ShoppingService_GetBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_GetBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscription">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscription" message="tns:ShoppingService_GetSubscription_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionResponse" message="tns:ShoppingService_GetSubscription_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_GetSubscription_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionByBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionByBasket" message="tns:ShoppingService_GetSubscriptionByBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionByBasketResponse" message="tns:ShoppingService_GetSubscriptionByBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionByBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_GetSubscriptionByBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListBasketsByStatus">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketsByStatus" message="tns:ShoppingService_ListBasketsByStatus_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketsByStatusResponse" message="tns:ShoppingService_ListBasketsByStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketsByStatusErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListBasketsByStatus_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSavedBaskets">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSavedBaskets" message="tns:ShoppingService_ListSavedBaskets_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSavedBasketsResponse" message="tns:ShoppingService_ListSavedBaskets_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSavedBasketsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListSavedBaskets_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSubscriptions">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptions" message="tns:ShoppingService_ListSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionsResponse" message="tns:ShoppingService_ListSubscriptions_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListSubscriptions_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionScheduleData">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionScheduleData" message="tns:ShoppingService_GetSubscriptionScheduleData_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionScheduleDataResponse" message="tns:ShoppingService_GetSubscriptionScheduleData_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionScheduleDataErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_GetSubscriptionScheduleData_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSubscriptionStatus">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionStatus" message="tns:ShoppingService_ListSubscriptionStatus_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionStatusResponse" message="tns:ShoppingService_ListSubscriptionStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionStatusErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListSubscriptionStatus_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListSubscriptionTypes">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionTypes" message="tns:ShoppingService_ListSubscriptionTypes_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionTypesResponse" message="tns:ShoppingService_ListSubscriptionTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionTypesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListSubscriptionTypes_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SaveBasket" message="tns:ShoppingService_SaveBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SaveBasketResponse" message="tns:ShoppingService_SaveBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SaveBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_SaveBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteSavedBasket" message="tns:ShoppingService_DeleteSavedBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteSavedBasketResponse" message="tns:ShoppingService_DeleteSavedBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteSavedBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_DeleteSavedBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckout">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetCheckout" message="tns:ShoppingService_GetCheckout_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetCheckoutResponse" message="tns:ShoppingService_GetCheckout_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetCheckoutErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_GetCheckout_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckout2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetCheckout2" message="tns:ShoppingService_GetCheckout2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetCheckout2Response" message="tns:ShoppingService_GetCheckout2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetCheckout2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_GetCheckout2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentForm">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetPaymentForm" message="tns:ShoppingService_GetPaymentForm_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetPaymentFormResponse" message="tns:ShoppingService_GetPaymentForm_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetPaymentFormErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_GetPaymentForm_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentFormCallback">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentFormCallback" message="tns:ShoppingService_PaymentFormCallback_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentFormCallbackResponse" message="tns:ShoppingService_PaymentFormCallback_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentFormCallbackErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentFormCallback_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentFormComplete">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentFormComplete" message="tns:ShoppingService_PaymentFormComplete_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentFormCompleteResponse" message="tns:ShoppingService_PaymentFormComplete_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentFormCompleteErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentFormComplete_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentGiftCardCheck">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardCheck" message="tns:ShoppingService_PaymentGiftCardCheck_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardCheckResponse" message="tns:ShoppingService_PaymentGiftCardCheck_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardCheckErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentGiftCardCheck_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentGiftCardReserve">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardReserve" message="tns:ShoppingService_PaymentGiftCardReserve_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardReserveResponse" message="tns:ShoppingService_PaymentGiftCardReserve_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardReserveErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentGiftCardReserve_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentGiftCardRollback">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardRollback" message="tns:ShoppingService_PaymentGiftCardRollback_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardRollbackResponse" message="tns:ShoppingService_PaymentGiftCardRollback_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardRollbackErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentGiftCardRollback_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProductOnHandByBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListProductOnHandByBasket" message="tns:ShoppingService_ListProductOnHandByBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListProductOnHandByBasketResponse" message="tns:ShoppingService_ListProductOnHandByBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListProductOnHandByBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListProductOnHandByBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListExternalProductOnHandByBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListExternalProductOnHandByBasket" message="tns:ShoppingService_ListExternalProductOnHandByBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListExternalProductOnHandByBasketResponse" message="tns:ShoppingService_ListExternalProductOnHandByBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListExternalProductOnHandByBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListExternalProductOnHandByBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderRequest">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetOrderRequest" message="tns:ShoppingService_GetOrderRequest_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetOrderRequestResponse" message="tns:ShoppingService_GetOrderRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetOrderRequestErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_GetOrderRequest_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBasketItem">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItem" message="tns:ShoppingService_InsertBasketItem_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItemResponse" message="tns:ShoppingService_InsertBasketItem_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItemErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_InsertBasketItem_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBasketItems">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItems" message="tns:ShoppingService_InsertBasketItems_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItemsResponse" message="tns:ShoppingService_InsertBasketItems_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItemsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_InsertBasketItems_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBasketItemWithChildren">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItemWithChildren" message="tns:ShoppingService_InsertBasketItemWithChildren_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItemWithChildrenResponse" message="tns:ShoppingService_InsertBasketItemWithChildren_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItemWithChildrenErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_InsertBasketItemWithChildren_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListBasketInfoTypes">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketInfoTypes" message="tns:ShoppingService_ListBasketInfoTypes_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketInfoTypesResponse" message="tns:ShoppingService_ListBasketInfoTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketInfoTypesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListBasketInfoTypes_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListBasketItemInfoTypes">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketItemInfoTypes" message="tns:ShoppingService_ListBasketItemInfoTypes_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketItemInfoTypesResponse" message="tns:ShoppingService_ListBasketItemInfoTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketItemInfoTypesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListBasketItemInfoTypes_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPromotionRequirementTypes">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionRequirementTypes" message="tns:ShoppingService_ListPromotionRequirementTypes_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionRequirementTypesResponse" message="tns:ShoppingService_ListPromotionRequirementTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionRequirementTypesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListPromotionRequirementTypes_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPromotionImageTypes">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionImageTypes" message="tns:ShoppingService_ListPromotionImageTypes_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionImageTypesResponse" message="tns:ShoppingService_ListPromotionImageTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionImageTypesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListPromotionImageTypes_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromotion">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetPromotion" message="tns:ShoppingService_GetPromotion_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetPromotionResponse" message="tns:ShoppingService_GetPromotion_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetPromotionErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_GetPromotion_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPromotions">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotions" message="tns:ShoppingService_ListPromotions_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionsResponse" message="tns:ShoppingService_ListPromotions_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListPromotions_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListDeliveryMethodsByProduct">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByProduct" message="tns:ShoppingService_ListDeliveryMethodsByProduct_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByProductResponse" message="tns:ShoppingService_ListDeliveryMethodsByProduct_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByProductErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListDeliveryMethodsByProduct_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListDeliveryMethodsByProduct2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByProduct2" message="tns:ShoppingService_ListDeliveryMethodsByProduct2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByProduct2Response" message="tns:ShoppingService_ListDeliveryMethodsByProduct2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByProduct2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListDeliveryMethodsByProduct2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListDeliveryMethodsByBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByBasket" message="tns:ShoppingService_ListDeliveryMethodsByBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByBasketResponse" message="tns:ShoppingService_ListDeliveryMethodsByBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListDeliveryMethodsByBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListDeliveryMethodsByBasket2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByBasket2" message="tns:ShoppingService_ListDeliveryMethodsByBasket2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByBasket2Response" message="tns:ShoppingService_ListDeliveryMethodsByBasket2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByBasket2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListDeliveryMethodsByBasket2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPromotionsByBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionsByBasket" message="tns:ShoppingService_ListPromotionsByBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionsByBasketResponse" message="tns:ShoppingService_ListPromotionsByBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionsByBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListPromotionsByBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/Purchase" message="tns:ShoppingService_Purchase_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseResponse" message="tns:ShoppingService_Purchase_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_Purchase_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreatePayment" message="tns:ShoppingService_CreatePayment_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreatePaymentResponse" message="tns:ShoppingService_CreatePayment_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreatePaymentErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_CreatePayment_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseEx">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseEx" message="tns:ShoppingService_PurchaseEx_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseExResponse" message="tns:ShoppingService_PurchaseEx_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseExErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PurchaseEx_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseEx2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseEx2" message="tns:ShoppingService_PurchaseEx2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseEx2Response" message="tns:ShoppingService_PurchaseEx2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseEx2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PurchaseEx2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurchaseSubscription">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseSubscription" message="tns:ShoppingService_PurchaseSubscription_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseSubscriptionResponse" message="tns:ShoppingService_PurchaseSubscription_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseSubscriptionErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PurchaseSubscription_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentCallback">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCallback" message="tns:ShoppingService_PaymentCallback_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCallbackResponse" message="tns:ShoppingService_PaymentCallback_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCallbackErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentCallback_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentCallback2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCallback2" message="tns:ShoppingService_PaymentCallback2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCallback2Response" message="tns:ShoppingService_PaymentCallback2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCallback2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentCallback2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentComplete">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentComplete" message="tns:ShoppingService_PaymentComplete_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCompleteResponse" message="tns:ShoppingService_PaymentComplete_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCompleteErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentComplete_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentCancel">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCancel" message="tns:ShoppingService_PaymentCancel_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCancelResponse" message="tns:ShoppingService_PaymentCancel_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCancelErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentCancel_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentValidate">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentValidate" message="tns:ShoppingService_PaymentValidate_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentValidateResponse" message="tns:ShoppingService_PaymentValidate_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentValidateErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_PaymentValidate_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SendBasket" message="tns:ShoppingService_SendBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SendBasketResponse" message="tns:ShoppingService_SendBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SendBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_SendBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasket" message="tns:ShoppingService_UpdateBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketResponse" message="tns:ShoppingService_UpdateBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBasket2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasket2" message="tns:ShoppingService_UpdateBasket2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasket2Response" message="tns:ShoppingService_UpdateBasket2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasket2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateBasket2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubscription">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateSubscription" message="tns:ShoppingService_UpdateSubscription_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateSubscriptionResponse" message="tns:ShoppingService_UpdateSubscription_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateSubscriptionErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateSubscription_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAttestBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SetAttestBasket" message="tns:ShoppingService_SetAttestBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SetAttestBasketResponse" message="tns:ShoppingService_SetAttestBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SetAttestBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_SetAttestBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBasket">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteBasket" message="tns:ShoppingService_DeleteBasket_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteBasketResponse" message="tns:ShoppingService_DeleteBasket_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteBasketErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_DeleteBasket_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubscription">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteSubscription" message="tns:ShoppingService_DeleteSubscription_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteSubscriptionResponse" message="tns:ShoppingService_DeleteSubscription_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteSubscriptionErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_DeleteSubscription_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBasketItem">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItem" message="tns:ShoppingService_UpdateBasketItem_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItemResponse" message="tns:ShoppingService_UpdateBasketItem_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItemErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateBasketItem_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBasketItems">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItems" message="tns:ShoppingService_UpdateBasketItems_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItemsResponse" message="tns:ShoppingService_UpdateBasketItems_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItemsErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateBasketItems_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBasketItemQuantityWithChildren">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItemQuantityWithChildren" message="tns:ShoppingService_UpdateBasketItemQuantityWithChildren_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItemQuantityWithChildrenResponse" message="tns:ShoppingService_UpdateBasketItemQuantityWithChildren_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItemQuantityWithChildrenErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateBasketItemQuantityWithChildren_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBuyer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBuyer" message="tns:ShoppingService_UpdateBuyer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBuyerResponse" message="tns:ShoppingService_UpdateBuyer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBuyerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateBuyer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBuyer2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBuyer2" message="tns:ShoppingService_UpdateBuyer2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBuyer2Response" message="tns:ShoppingService_UpdateBuyer2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBuyer2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateBuyer2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePayer">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePayer" message="tns:ShoppingService_UpdatePayer_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePayerResponse" message="tns:ShoppingService_UpdatePayer_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePayerErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdatePayer_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePayer2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePayer2" message="tns:ShoppingService_UpdatePayer2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePayer2Response" message="tns:ShoppingService_UpdatePayer2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePayer2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdatePayer2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShipTo">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateShipTo" message="tns:ShoppingService_UpdateShipTo_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateShipToResponse" message="tns:ShoppingService_UpdateShipTo_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateShipToErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateShipTo_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShipTo2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateShipTo2" message="tns:ShoppingService_UpdateShipTo2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateShipTo2Response" message="tns:ShoppingService_UpdateShipTo2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateShipTo2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateShipTo2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryMethod">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod" message="tns:ShoppingService_UpdateDeliveryMethod_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethodResponse" message="tns:ShoppingService_UpdateDeliveryMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethodErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateDeliveryMethod_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryMethod3">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod3" message="tns:ShoppingService_UpdateDeliveryMethod3_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod3Response" message="tns:ShoppingService_UpdateDeliveryMethod3_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod3ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateDeliveryMethod3_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryMethod4">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod4" message="tns:ShoppingService_UpdateDeliveryMethod4_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod4Response" message="tns:ShoppingService_UpdateDeliveryMethod4_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod4ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdateDeliveryMethod4_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentMethod">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePaymentMethod" message="tns:ShoppingService_UpdatePaymentMethod_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePaymentMethodResponse" message="tns:ShoppingService_UpdatePaymentMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePaymentMethodErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdatePaymentMethod_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentMethod2">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePaymentMethod2" message="tns:ShoppingService_UpdatePaymentMethod2_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePaymentMethod2Response" message="tns:ShoppingService_UpdatePaymentMethod2_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePaymentMethod2ErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_UpdatePaymentMethod2_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListBasketStatuses">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketStatuses" message="tns:ShoppingService_ListBasketStatuses_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketStatusesResponse" message="tns:ShoppingService_ListBasketStatuses_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketStatusesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListBasketStatuses_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListBasketTypes">
      <wsdl:input wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketTypes" message="tns:ShoppingService_ListBasketTypes_InputMessage" />
      <wsdl:output wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketTypesResponse" message="tns:ShoppingService_ListBasketTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketTypesErrorMessage_v2Fault" name="ErrorMessage_v2Fault" message="tns:ShoppingService_ListBasketTypes_ErrorMessage_v2Fault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>