StormApiClient/Service References/ExposeProxy/ShoppingService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="Enferno.Services.Contracts.Expose.Shopping" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShoppingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SOAP_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="Enferno.Services.Contracts.Expose.Shopping" location="https://api.lab.storm.io/api/1.1b/ShoppingService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="SOAP" type="i0:ShoppingService">
    <wsp:PolicyReference URI="#SOAP_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ClearBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreateBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateSubscription">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreateSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteBasketItem">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteBasketItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubscription">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionByBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionByBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListBasketsByStatus">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketsByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListSavedBaskets">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSavedBaskets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListSubscriptions">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptionScheduleData">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetSubscriptionScheduleData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListSubscriptionStatus">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListSubscriptionTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListSubscriptionTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SaveBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteSavedBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckout">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetCheckout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCheckout2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetCheckout2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentForm">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetPaymentForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentFormCallback">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentFormCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentFormComplete">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentFormComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentGiftCardCheck">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentGiftCardReserve">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardReserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentGiftCardRollback">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentGiftCardRollback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListProductOnHandByBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListProductOnHandByBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListExternalProductOnHandByBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListExternalProductOnHandByBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrderRequest">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetOrderRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertBasketItem">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertBasketItems">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertBasketItemWithChildren">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/InsertBasketItemWithChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListBasketInfoTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketInfoTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListBasketItemInfoTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketItemInfoTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListPromotionRequirementTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionRequirementTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListPromotionImageTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionImageTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPromotion">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/GetPromotion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListPromotions">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDeliveryMethodsByProduct">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDeliveryMethodsByProduct2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByProduct2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDeliveryMethodsByBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListDeliveryMethodsByBasket2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListDeliveryMethodsByBasket2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListPromotionsByBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListPromotionsByBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/Purchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreatePayment">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/CreatePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PurchaseEx">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PurchaseEx2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseEx2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PurchaseSubscription">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PurchaseSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentCallback">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentCallback2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCallback2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentComplete">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentCancel">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentValidate">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/PaymentValidate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBasket2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasket2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubscription">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetAttestBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/SetAttestBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteBasket">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteBasket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubscription">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/DeleteSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBasketItem">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBasketItems">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBasketItemQuantityWithChildren">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBasketItemQuantityWithChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuyer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBuyer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBuyer2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateBuyer2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePayer">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePayer2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePayer2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateShipTo">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateShipTo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateShipTo2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateShipTo2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryMethod">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryMethod3">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryMethod4">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdateDeliveryMethod4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentMethod">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePaymentMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentMethod2">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/UpdatePaymentMethod2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListBasketStatuses">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListBasketTypes">
      <soap12:operation soapAction="Enferno.Services.Contracts.Expose.Shopping/ShoppingService/ListBasketTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorMessage_v2Fault">
        <soap12:fault use="literal" name="ErrorMessage_v2Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShoppingService">
    <wsdl:port name="SOAP" binding="tns:SOAP">
      <soap12:address location="https://api.lab.storm.io/api/1.1b/ShoppingService.svc/soap" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://api.lab.storm.io/api/1.1b/ShoppingService.svc/soap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>